.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  box-sizing: border-box;
  padding: var(--space-24);
  overflow-y: auto;
}

.tabSection {
  margin-bottom: var(--space-24);
}

.contentContainer {
  min-height: 500px;
}
